.body {
    margin: 50px 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.submit-section button{
    border: none;
    color: white;
    border-radius: 50px;
    background: #9f6207;
    font-size: 22px;
    padding: 20px 40px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 0.3s
}
.submit-section button:hover{
    transform: scale(1.05);
    transition: 0.3s;
}